*.pyc
*.xml
*.iml
*.csv
*.xlsx
*.Rhistory
.idea/
.coverage
.ipynb_checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/bin/
*/include/
*/lib/
*/lib64/
*/share/
*.cfg
.pytest_cache
data/
build/
catenets.egg-info/
dist/
generated/
_build
